.trak-image img {
   box-shadow: 3px 3px 3px darkgray;
}

p#mobile {
  display: none;
}

#first, #second, #third, #fourth {
  display: none;
}

#third, #first {
  margin-top: 100px;
}

.case {
  margin-top: 100px;
}

.blue {
  border-top: 5px double #1D446B;
  width: 250px;
}

.box {
  background-color: lightgray;
}

.trak-image {
  margin-bottom: 50px;
}

.case-study-text {
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #1D446B;
  letter-spacing: 1.5px;
}

.case-study-h {
  color: #1D446B;
}

.top a {
  padding: 15px;
  margin: 5px;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 18px;
  color: #133E69;
}

.top1 a:hover {
  text-decoration: none;
  color: #677077;
}

.top1 a {
  padding: 15px;
  margin: 5px;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 18px;
  color: white;
}

.top a:hover {
  text-decoration: none;
  color: #ED0E0E;
}

#top {
  background-color: rgba(14, 41, 62, 1);
}

.roboto1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.roboto2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.navbar {
  background-color: #133E69;
}

ul.nav.navbar-nav.navbar-right li a {
  color: white;
}

ul.nav.navbar-nav.navbar-right li a:hover {
  color: gray;
}

button.navbar-toggle.collapsed {
  background-color: white;
}

.navbar-toggle .icon-bar {
  background-color: #133E69;
}

.bottom a {
  padding: 15px;
  margin: 5px;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 18px;
  color: #133E69;
}

.bottom a:hover {
  text-decoration: none;
  color: #ED0E0E;
}

.top {
  padding-top: 25px;
}

.name p {
  font-size: 50px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.bottom {
  padding-bottom: 75px;
}

.examples {
  padding-bottom: 100px;
}

.clr {
  clear: both;
}

.images {
  margin-top: 300px;
}

.git {
  margin-bottom: 75px;
}

.git img, .git2 img {
  height: 45px;
  transition: all .2s ease-in-out;
}

.git img:hover, .git2 img:hover {
  transform: scale(1.25);
}

.bg {
  height: 1500px;
  background-color: #1D446B;
}

.about {
  background-color: #1D446B;
  height: 1200px;
  margin-bottom: 100px;
}

.golf {
  width: 100%;
}

.contact {
  height: 1000px;
  margin-bottom: 100px;
  margin-top: 150px;
}

.about h3 {
  color: white;
}

.info p {
  font-size: 20px;
  color: white;
}


.caption p{
  font-size: 20px;
  font-family: 'Mukta Vaani', sans-serif;
}

.fh {
  color: #c2c2c2;
}

.fl {
  color: red;
}

.split a {
  color: lightgrey;
}

.split a:hover {
  text-decoration: none;
  color: #631D29;
}

.split h3 {
  color: #1D446B;
  padding-top: 100px;
}

.split2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.split2 a {
  color: rgba(228, 235, 237, 0.6);
}

.split2 a:hover {
  text-decoration: none;
  color: #2C4D49;
}

.split2 h3 {
  color: snow;
  padding-top: 100px;
}

.contact h3 {
  color: #1D446B;
  padding-top: 75px;
  margin-bottom: 75px;
}

.contact p {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.bio {
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  letter-spacing: 2px;
}

.bio a {
  color: #D4BA26;
}

.bio a:hover {
  text-decoration: none;
  color: #F7E163;
}

.topbio {
  margin-top: 100px;
}

.hr {
  width: 250px;
}

.skills img {
  height: 100px;
  width: 250px;
  margin: 10px;
}

.skills h3 {
  color: #303E42;
}

.icons img {
  height: 50px;
  width: 50px;
  margin: 25px;
  margin-top: 100px;
  transition: all .2s ease-in-out;
}

.icons img:hover {
  transform: scale(1.15);
}

.slogan h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 4em;
  color: white;
}

.name img {
  margin-left: auto;
  margin-right: auto;
}

.name2 img {
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
}

.about p {
  color: white;
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
}

p.text-center.job {
  font-size: 18px;
}

.lastarrow {
  margin-left: auto;
  margin-right: auto;
}

/******* ipad *********/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    .contact h3 {
      color: #1D446B;
      padding-top: 105px;
    }
    [class*="col-"] {
        width: 100%;
    }
    .name img {
      height: 25px;
      margin-top: -100px
    }
}
/******* iphone 6 *********/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .icons img {
      height: 30px;
      width: 30px;
      margin: 15px;
      margin-top: 35px;
    }
    .split h3 {
      color: #1D446B;
      padding-top: 175px;
    }
    .split2 h3 {
      color: snow;
      padding-top: 175px;
    }
    .contact h3 {
      color: #1D446B;
      padding-top: 125px;
    }
    .contact {
      height: 500px;
      margin-bottom: 10px;
      margin-top: 0px;
    }
    [class*="col-"] {
        width: 100%;
    }
    .contact p {
      margin-top: 10px;
    }
    .icons {
      margin-top: -75px;
    }
    .name img {
      height: 40px;
      margin-top: -100px
    }
    #frmmobile {
      display: none;
    }
    #frm2mobile {
      display: none;
    }
    .name2 img {
      height: 150px;
      width: 150px;
    }
    #first {
      margin-top: 1px;
    }
    .bg {
      height: 400px;
    }
    .no-mobile {
      display: none;
    }
    #mobile-only {
      display: inline-block;
    }
}
/******* iphone 5 *********/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .icons img {
      height: 20px;
      width: 20px;
      margin: 5px;
      margin-top: 35px;
    }
    .split h3 {
      color: #1D446B;
      padding-top: 175px;
    }
    .split2 h3 {
      color: snow;
      padding-top: 175px;
    }
    .contact h3 {
      color: #1D446B;
      padding-top: 125px;
    }
    .contact {
      height: 500px;
      margin-bottom: 10px;
      margin-top: 0px;
    }
    .thumbnail {
      width: 100%;
    }
    .git {
      width: 100%;
    }
    .contact p {
      margin-top: 25px;
    }
    .icons {
      margin-top: -75px;
    }
    .bg {
      height: 400px;
    }
    .name img {
      height: 40px;
      margin-top: -100px
    }
    textarea {
      width: 75%;
    }
    input {
      width: 80%;
    }
    .split h3 {
      padding-top: 50px;
    }
    .split2 h3 {
      padding-top: 50px;
    }
    .contact h3 {
      padding-top: 50px;
    }
    #frmmobile {
      display: none;
    }
    #frm2mobile {
      display: none;
    }
    .name2 img {
      height: 150px;
      width: 150px;
    }
    #first {
      margin-top: 1px;
    }
    .no-mobile {
      display: none;
    }
    #mobile-only {
      display: inline-block;
    }
}


/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .icons img {
      height: 30px;
      width: 30px;
      margin: 15px;
      margin-top: 35px;
    }
    .split h3 {
      color: #1D446B;
      padding-top: 175px;
    }
    .split2 h3 {
      color: snow;
      padding-top: 175px;
    }
    .contact h3 {
      color: #1D446B;
      padding-top: 125px;
    }
    .contact {
      height: 500px;
      margin-bottom: 10px;
      margin-top: 0px;
    }
    .contact p {
      margin-top: 25px;
    }
    .thumbnail {
      width: 100%;
    }
    .git {
      width: 100%;
    }
    .icons {
      margin-top: -75px;
    }
    .bg {
      height: 400px;
    }
    .name img {
      height: 40px;
      margin-top: -100px
    }
    textarea {
      width: 75%;
    }
    input {
      width: 80%;
    }
    .split h3 {
      padding-top: 50px;
    }
    .split2 h3 {
      padding-top: 50px;
    }
    .contact h3 {
      padding-top: 50px;
    }
    #frmmobile {
      display: none;
    }
    #frm2mobile {
      display: none;
    }
    .name2 img {
      height: 150px;
      width: 150px;
    }
    #first {
      margin-top: 1px;
    }
    .no-mobile {
      display: none;
    }
    #mobile-only {
      display: inline-block;
    }
}
